In [18]:
import pandas as pd
import numpy as np

In [19]:
#cargamos los ficheros csv en nuestras variables agregar una columna(platform) con el nombre de la plataforma
df_amazon = pd.read_csv("datasets/amazon_prime_titles.csv")
df_amazon["platform"] = "amazon"

df_disney = pd.read_csv("datasets/disney_plus_titles.csv")
df_disney["platform"] = "disney"

df_hulu = pd.read_csv("datasets/hulu_titles.csv")
df_hulu["platform"] = "hulu"

df_netflix = pd.read_csv("datasets/netflix_titles.csv")
df_netflix["platform"] = "netflix"

In [20]:
#concateno los dataframe en uno solo
df_titles= pd.concat([df_amazon,df_disney,df_hulu,df_netflix])

In [21]:
# CONSIGNA 1:
# Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, 
# seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)
df_titles["id"] = df_titles["platform"].str.slice(0,1) + df_titles["show_id"]

In [22]:
# CONSIGNA 2:
# Los valores nulos del campo rating deberán reemplazarse por el string “G” 
# (corresponde al maturity rating: “general for all audiences”
df_titles["rating"] = df_titles["rating"].replace(np.nan,'G')

In [23]:
# CONSIGNA 3:
# De haber fechas, deberán tener el formato AAAA-mm-dd
df_titles["date_added"] = pd.to_datetime(df_titles["date_added"]).dt.strftime('%Y-%m-%d')

In [24]:
# CONSIGNA 4:
# Los campos de texto deberán estar en minúsculas, sin excepciones
df_titles['show_id'] = df_titles['show_id'].str.lower()
df_titles['type'] = df_titles['type'].str.lower()
df_titles['title'] = df_titles['title'].str.lower()
df_titles['director'] = df_titles['director'].str.lower()
df_titles['cast'] = df_titles['cast'].str.lower()
df_titles['country'] = df_titles['country'].str.lower()
df_titles['rating'] = df_titles['rating'].str.lower()
df_titles['duration'] = df_titles['duration'].str.lower()
df_titles['listed_in'] = df_titles['listed_in'].str.lower()
df_titles['description'] = df_titles['description'].str.lower()
df_titles['platform'] = df_titles['platform'].str.lower()
df_titles['id'] = df_titles['id'].str.lower()

In [25]:
# CONSIGNA 5:
# El campo duration debe convertirse en dos campos: duration_int y duration_type. 
# El primero será un integer y el segundo un string indicando la unidad de medición 
# de duración: min (minutos) o season (temporadas)

#la columna duration se divide en 2 columnas duration_int y duration_type
df_titles[['duration_int', 'duration_type']] = df_titles['duration'].str.extract('(\d+)\s*(\w+)')

#reemplazar seasons por season
df_titles['duration_type'] = df_titles["duration_type"].str.replace("seasons", "season")

#ADICIONAL -- reemplazar los nulos por ceros
df_titles['duration_int'].fillna(value=0, inplace=True)
#ADICIONAL -- convertir los valores a enteros
df_titles['duration_int'] = df_titles['duration_int'].astype('int64')

In [27]:
df_titles['duration_int'].info()

<class 'pandas.core.series.Series'>
Int64Index: 22998 entries, 0 to 8806
Series name: duration_int
Non-Null Count  Dtype
--------------  -----
22998 non-null  int64
dtypes: int64(1)
memory usage: 359.3 KB